.mainTitle {
    font-family: 'Permanent Marker', cursive;
    font-size: large;
    font-weight: 900;

}

.uniTitle {
    font-family: 'Dancing Script', cursive;
    font-size: small;
    font-weight: 500;

}

.main {
    margin: 1rem;
}

.texts {
    font-family: 'Acme', sans-serif;
    font-weight: 600;
    border-radius: 4px;


}

.texts2 {
    width: auto;

}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}